
@font-face {
    font-family: "GutterVomit";
    src: url("Fonts/Gutter.ttf");
}


.mt-6{
    margin-top: 6rem;
}

.mt-7{
    margin-top: 7rem;
}

h1 {
    font-family: 'GutterVomit', sans-serif;
    font-size: 10vw;
}




p1, p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 90%;
}

@media screen and (max-width:1190px) {
    p1 {
      font-size: 80%;
    }
}
@media screen and (max-width:575.98px) {
    p1 {
      font-size: 80%;
    }
    h1 {
        font-size: 16vw;
    }
}



@media screen and (min-width:990px){
    p1{ position: relative;
        top: 1.5rem;
    }
}
@media screen and (min-width:990px){
    #studio { position: relative;
        top: 1rem;
    }
}

#termine {
    font-family: 'Montserrat', sans-serif;
}


#konzerte {
    font-family: 'Montserrat', sans-serif;
}

    /* Social Button Style */
    .scl-btn {
        padding: 10px;
        font-size: 20px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin:5px;
        color: black;
        border: 1px solid black;
      }
      /* Hover Effect */
      .scl-btn:hover {
        opacity: 0.8;
        text-align: center;
        text-decoration: none;
        color: white;
      }
      /* Round buttons */
      .scl-crcl {
        border-radius: 50%;
      }
      /* Round Corners */
      .scl-rnd {
          border-radius:5px;
      }
      /* Brand Colors */
      .fa-facebook-f { background: white; }
      .fa-youtube { background: white; }
      .fa-instagram { background: white; }
      